
<img src="https://www.adslzone.net/app/uploads-adslzone.net/2019/04/borrar-fondo-imagen.jpg" style="height: 40vh; width: 100vw;">

<div class="mt-5 px-5">

  <h1>Productos</h1>
  <div>
    <h5>Fruta de Temporada</h5>
    <img src="https://www.webconsultas.com/sites/default/files/styles/wch_image_schema/public/migrated/calendario-fruta.jpg" style="height: 200px; width: 250px;">
    <p>s/. 120.00</p>
    <button class="bg-outline-blue" (click)="addProducto()">Agregar al Carrito</button>
    <a class="nav-link active " href="/descripcion">Ver más</a>
  </div>

</div>



